PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=dummy-app-key-32-karakter-ganti-ini
DRIVE_DISK=local


DB_CONNECTION=pg
PG_HOST=isihost
PG_PORT=5432
PG_USER=usernamePG
PG_PASSWORD=rahasia
PG_DB_NAME=namaDatabasePG


GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret
GOOGLE_CALLBACK_URL=callbackUrl
